body{
    width: 1280px;
    margin: 60px auto 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
h1{
    font-size: 80px;
    text-align: left;
}
h1 a{
    color: black;
}
.blue-font{
    color: #03a9f4b0
}
.header-nav{
    margin: 50px auto;
    height: 70px;
    background-color: #35444f;
    color: white;

}
.header-nav li{
    padding: 23px;
    display: inline-block;
    font-size: 24px;
}
.header-nav li:hover{
    background-color: #222f3a;
    border-color: #818181;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
}
.header-nav li a{
    color: white
}
.main-nav{
    display: inline-block;
    min-width: 340px;
    border-style: solid;
    border-width: 1px;
    margin-right: 45px;
    vertical-align: 70px;
    
}
.main-nav li{
    text-align: left;
    font-size: 24px;
    padding: 30px 40px;
}
.main-nav li:hover{
    background-color: #dbdbdb;
    padding-left:65px ;
    border-right:1px solid ;
}
.main-nav a{
    color: black;
}
.main-image{
    padding: 75px 280px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.main-text-content{
    margin: 50px auto;
}
.main-text-content p{
    width: 830px;
    float: right;
    margin: 15px;
    text-align: left;
    line-height:1.5;
}
footer{
    background-color: #b4b7ba;
    text-align: left;
}
footer ul {
    display: inline-block;
}
footer li{
    padding: 23px;
    display: inline-block;
    font-size: 24px;
}
footer li:hover{
    background-color: #35444f;
    border-color: #818181;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
}
footer a{
    color: black;
}
.underline{
    text-decoration: underline;
}
.copyright{
    text-align: right;
    font-size: 24px;
    margin-left: 150px;
}
